{% extends "layout.html" %}

{% block body %}

    <main class="main">
        <img src="{{ url_for('static', filename='img/code.jpg') }}" alt="This is an Coding image" class="bannerImg">
        <div class="over-text">
            <h1 class="font">Welcome To HTML Free Tutorial Website</h1>
            <p>You will get complete reference for html with coded examples.</p>
            <p>Start Your Learning by Clicking the following button</p>
            <br>
            <a href="/course"><button>Start Your Learning &gt;&gt;</button></a>
        </div>
    </main>
    <!-- footer -->
    
</body>

</html>
{% endblock %}