<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{document}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    
</head>

<body>
    <!-- header -->
    <header>
        <h2>HTML</h2>
        <nav>
            <ul>
                <!-- <li class="active"><a href="\">Home</a></li> -->
                <li><a href="\">Home</a></li>
                <li><a href="\course">Course</a></li>
                <li><a href="\html">HTML</a></li>
                <li><a href="\contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        <big>CO1I HARSH KALE &copy; CopyRight 2023 | All Rights Reserved!</big>
    </footer>